<!-- 

Grafos - BackboneJS + PaperJS


--> 

<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore.min.js"></script>
<script type="text/javascript" src="js/backbone.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/paper.js"></script>
<script type="text/paperscript" canvas="myCanvas">
	
	Array.prototype.contains = function(value) {
		for(var a = 0; a < this.length; a++)
		{
			if(this[a] == value) return true;
		}

		return false;
	}

	String.prototype.replaceAt=function(index, character) {
      return this.substr(0, index) + character + this.substr(index+character.length);
    }

	Array.prototype.containsArray = function(array) {		

		for(var a = 0; a < array.length; a++)
		{
			if(!this.contains(array[a])) return false;
		}	
	}

	/* Utilizada para exibir relatórios */
	var relatorio = "";

	/* Para desenhar as imagens após as linhas */
	var afterLine = false;

	/* ID dos vértices */
	var verticeId = 1;	

	/* Tornar frame atualizável */
	paper.project._needsupdate = true;

	var Grafo = Backbone.Model.extend({							

		initialize: function(){
			this.set("vertices", []);
			this.set("arestas", []);
			this.set("caminhos", []);
			this.set("dist", 0);

			this.set("vezes", 50);		
		},		

		increment: function(value) {
			this.set("dist", this.get("dist") + value);			
		},

		// Procedimento aleatório.
		// Não esquecer regra de Vertices -> Arestas (equação)
		run1: function() { 				

			var percursos = [];	
			var origem = null; 
			var destino = null;			

			for(var z = 0; z < grafo.get("arestas").length; z++) grafo.get("arestas")[z].get("path").visible = false;
				for(var z = 0; z < grafo.get("vertices").length; z++)  {
					grafo.get("vertices")[z].get("image").visible = false;
					grafo.get("vertices")[z].get("text").visible = false;
				}
				
				grafo.set("dist", 0);
				grafo.set("arestas", []);
				grafo.set("vertices", []);				

				for(var a = 0; a < vertices; a++)
				{		
					var set = false;
					var x = Math.floor((Math.random() * maxWidth) + 30);
					var y = Math.floor((Math.random() * maxHeight) + 60);

					while(!set)
					{
						x = Math.floor((Math.random() * maxWidth) + 30);
						y = Math.floor((Math.random() * maxHeight) + 60);
						var distancias = [];
						
						/* Distância entre coordenadas */

						/* Procedimento utilizado para evitar que vértices fiquem muito próximos. */
						for(var a = 0; a < grafo.get("vertices").length; a++) {
							var vertice = grafo.get("vertices")[a];			
							var dist_percorrida = dist(vertice.get("pos").x, vertice.get("pos").y, x, y);						
							distancias.push(dist_percorrida);
						}

						distancias.sort();					

						if(grafo.get("vertices").length == 0) {
							set = !set;
						}

						else 
						{		
							set = !set;

							for(var a = 0; a < distancias.length; a++) {
								var d = distancias[a];
								if(d <= 45) {						
									set = false;
								}
							}				
						}			
					}

					/* -------------------------------------------------------------------------------------- */	

					grafo.get("vertices").push(new Vertice(new Point(x, y), new Point(x, y)));		
				}
				

				/* Geração de arestas. */
				for(var a = 0; a < arestas; )
				{
					var v1 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);
					var v2 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);		

					if(v1 != v2)
					{
						var color = 'green';
						var ar = null;

						if(grafo.get("arestas").length == 0)
						{
							ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
							ar.get("verticeInicio").get("aresta").push(ar);

							grafo.get("arestas").push(ar);
							++a;					
						}

						else
						{
							for(var b = 0; b < grafo.get("arestas").length; b++)
							{
								var aresta = grafo.get("arestas")[b];
								var ahead = (grafo.checkVerticeComb(grafo.get("vertices")[v1], grafo.get("vertices")[v2])) ? false : true;

								if(ahead)
								{
									ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
									ar.get("verticeInicio").get("aresta").push(ar);						

									grafo.get("arestas").push(ar);

									++a;

									break;					
								}					
							}
						}			
					}
				}

				/* -------------------------------------------------------------------------------------- */	

				for(var a = 0; a < grafo.get("vertices").length; a++) {
					grafo.get("vertices")[a].draw();
				}							

				origem = randomVerticeInicial();		
				destino = origem;


			/* Abaixo ocorre o procedimento de carregamento do mapa */

			/* Geração de vértices */

			for(var vezes = 0; vezes < grafo.get("vezes"); vezes++)
			{		
				grafo.set("dist", 0);						
				origem.set("textVisible", true);
				paper.project.view.update();

				var atual = origem; // vértice
				var caminho = []; // caminho atual.
				
					var b = 0;

					for(;;b++)
					{
						/* Condição para determinar se a lista de caminhos têm todos os vértices sorteados a partir de um vértice X */
						var containAll = true;

						/* Exibição de possibilidades */
						var poss = "";

						for(var x = 0; x < atual.get("aresta").length; x++)
						{
							poss += ""+atual.get("aresta")[x].get("verticeFim").get("id")+" / ";

							if(!caminho.contains(atual.get("aresta")[x].get("verticeFim").get("id")) || !caminho.contains(atual.get("id"))) 
							{ 
								containAll = false; 
								//break;						
							}
						}
						
						//console.log("ATUAL: "+atual.get("id"));				
						
						/* Se chegou ao destino, no entanto, sendo após a primeira iteração. */
						if(atual.get("id") == destino.get("id") && b > 0) {
							console.log("Chegou ao destino (ID: "+destino.get("id")+") --> "+grafo.get("dist")+"m.");							
							percursos.push(grafo.get("dist"));																					
							break;
						}

						/* Se já tiver passado nesse vértices OU não tiver arestas disponíveis para percorrer OU todos os possíveis vértices
						   tenham sido percorridos.
						*/
						else if( (caminho.contains(atual.get("id")) || atual.get("aresta").length == 0) || containAll ) {
							caminho.push(atual.get("id"));
							//console.log("Foi para "+atual.get("id")+"<br>");
							//percursos.push(grafo.get("dist"));														
							console.log("Fim de rota (ID: "+atual.get('id')+") --> "+grafo.get('dist')+"m.");															
							break;
						}						
						
						/* value = Aresta aleatória a partir dos já existentes no vértice atual.
						   sorteado = Vértice a partir da aresta sorteada.
						*/	
						
												
						var value = Math.floor(Math.random() * (atual.get("aresta").length));					
						var sorteado = atual.get("aresta")[value].get("verticeFim");				

						if(!caminho.contains(atual.get("id")))
						{
							caminho.push(atual.get("id"));
							var k = 0;
							
							for(k = 0; k < atual.get("aresta").length; k++)
							{
								if(atual.get("aresta")[k].get("verticeFim") == sorteado) {
									atual.get("aresta")[k].setColor("yellow");							
									break;
								}
							}						
							
							grafo.increment(getAresta(atual.get("id"), sorteado.get("id")).get("length"));
							atual = sorteado;								
						}		

						//console.log(caminho);
						//console.log("Possibilidades: "+poss);
						//console.log("Possibilidades: "+poss+"<br>");
						//console.log("Foi para "+atual.get("id")+"<br>");			

					}
				}


				percursos.sort(function(a,b){return a-b});
				
				console.log("");
				console.log("---> Menor caminho percorrido: "+percursos[0]+"m.");
		},

		// Procedimento Força Bruta.
		run2: function() {			
			
			var sucessos = 0;
			var dists = [];
			
			/* Geração..... */
			for(var a = 0; a < vertices; a++)
			{		
				var set = false;
				var x = Math.floor((Math.random() * maxWidth) + 30);
				var y = Math.floor((Math.random() * maxHeight) + 60);

				while(!set)
				{
					x = Math.floor((Math.random() * maxWidth) + 30);
					y = Math.floor((Math.random() * maxHeight) + 60);
					var distancias = [];

					for(var a = 0; a < grafo.get("vertices").length; a++) {
						var vertice = grafo.get("vertices")[a];			
						distancias.push(dist(vertice.get("pos").x, vertice.get("pos").y, x, y));
					}

					distancias.sort();						

					if(grafo.get("vertices").length == 0) {
						set = !set;
					}

					else 
					{		
						set = !set;

						for(var a = 0; a < distancias.length; a++) {
							var d = distancias[a];
							if(d <= 45) {						
								set = false;
							}
						}				
					}			
				}	

				grafo.get("vertices").push(new Vertice(new Point(x, y), new Point(x, y)));
						
			}

			for(var a = 0; a < arestas; )
			{
				var v1 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);
				var v2 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);		

				if(v1 != v2)
				{
					var color = 'green';
					var ar = null;

					if(grafo.get("arestas").length == 0)
					{
						ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
						ar.get("verticeInicio").get("aresta").push(ar);

						grafo.get("arestas").push(ar);
						++a;					
					}

					else
					{
						for(var b = 0; b < grafo.get("arestas").length; b++)
						{
							var aresta = grafo.get("arestas")[b];
							var ahead = (grafo.checkVerticeComb(grafo.get("vertices")[v1], grafo.get("vertices")[v2])) ? false : true;

							if(ahead)
							{
								ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
								ar.get("verticeInicio").get("aresta").push(ar);						

								grafo.get("arestas").push(ar);

								++a;

								break;					
							}					
						}
					}			
				}
			}

			for(var a = 0; a < grafo.get("vertices").length; a++) {
				grafo.get("vertices")[a].draw();
			}

			// ----------------------------------------------------------------- //

			this.set("comb", []); // Todas as combinações possíveis geradas.
			this.set("usedChars", []); // Caracteres utilizados.		
			
			this.verticeList = [];

			for(var a = 0; a < vertices; a++) this.verticeList[a] = (grafo.get("vertices")[a].get("id"));

			this.permute(this.verticeList);
			console.log("----> TODAS AS COMBINAÇÕES POSSÍVEIS: ");
			console.log(JSON.stringify(this.get("comb")));

			var percursos = [];

			for(var a = 0; a < this.get("comb").length; a++) {
				
				var current = getVertice(this.get("comb")[a][b]);				
				
				for(var b = 0; b < this.get("comb")[a].length - 1; b++) {
					var atual = this.get("comb")[a][b];
					var seguinte = this.get("comb")[a][b+1];

					/* Caso existe conexão ao vértice seguinte. */
					if(getAresta(atual, seguinte) != null) {
						this.increment(getAresta(atual, seguinte).get("length"));
					}

					/* Caso não exista conexão ao vértice seguinte. */
					else {
						percursos.push("("+(a+1)+"): Fim de rota (FALHOU) --> Percorreu: "+this.get("dist")+"m.");
						this.set("dist", 0);
						break;
					}

					/* Caso chegue ao fim... */
					if(b == this.get("comb")[a].length - 2) {
						percursos.push("("+(a+1)+"): Destino alcançado!! --> Percorreu: "+this.get("dist")+"m.");
						++sucessos;
						dists.push(this.get('dist'));
						this.set("dist", 0);
						break;
					}
				}				
			}

			/* Listando percursos */
			for(var a = 0; a < percursos.length; a++) {
				//document.getElementById('relatorio').innerHTML += percursos[a]+"<br>";
				console.log(percursos[a]);
			}
			
			dists.sort(function(a,b){return a-b}); // Ordenação customizada.
			console.log(JSON.stringify(dists));
			console.log("ACERTOS: "+sucessos+"/"+this.get('comb').length);
			console.log("MENOR CAMINHO: "+dists[0]+"m.");
		},
        
        run3: function() {
			var dists = [];			
						
			for(var vezes = 0; vezes < grafo.get('vezes'); vezes++)	
			{		
				verticeId = 1;
				
				for(var z = 0; z < grafo.get("arestas").length; z++) grafo.get("arestas")[z].get("path").visible = false;
					for(var z = 0; z < grafo.get("vertices").length; z++)  {
						grafo.get("vertices")[z].get("image").visible = false;
						grafo.get("vertices")[z].get("text").visible = false;
					}
					
					grafo.set("dist", 0);
					grafo.set("arestas", []);
					grafo.set("vertices", []);				

					for(var a = 0; a < vertices; a++)
					{		
						var set = false;
						var x = Math.floor((Math.random() * maxWidth) + 30);
						var y = Math.floor((Math.random() * maxHeight) + 60);

						while(!set)
						{
							x = Math.floor((Math.random() * maxWidth) + 30);
							y = Math.floor((Math.random() * maxHeight) + 60);
							var distancias = [];

							/* Distância entre coordenadas */

							/* Procedimento utilizado para evitar que vértices fiquem muito próximos. */
							for(var a = 0; a < grafo.get("vertices").length; a++) {
								var vertice = grafo.get("vertices")[a];			
								var dist_percorrida = dist(vertice.get("pos").x, vertice.get("pos").y, x, y);						
								distancias.push(dist_percorrida);
							}

							distancias.sort();					

							if(grafo.get("vertices").length == 0) {
								set = !set;
							}

							else 
							{		
								set = !set;

								for(var a = 0; a < distancias.length; a++) {
									var d = distancias[a];
									if(d <= 45) {						
										set = false;
									}
								}				
							}			
						}

						/* -------------------------------------------------------------------------------------- */	

						grafo.get("vertices").push(new Vertice(new Point(x, y), new Point(x, y)));		
					}
					

					/* Geração de arestas. */
					for(var a = 0; a < arestas; )
					{
						var v1 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);
						var v2 = Math.floor((Math.random() * grafo.get("vertices").length - 1) + 1);		

						if(v1 != v2)
						{
							var color = 'green';
							var ar = null;

							if(grafo.get("arestas").length == 0)
							{
								ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
								ar.get("verticeInicio").get("aresta").push(ar);

								grafo.get("arestas").push(ar);
								++a;					
							}

							else
							{
								for(var b = 0; b < grafo.get("arestas").length; b++)
								{
									var aresta = grafo.get("arestas")[b];
									var ahead = (grafo.checkVerticeComb(grafo.get("vertices")[v1], grafo.get("vertices")[v2])) ? false : true;

									if(ahead)
									{
										ar = new Aresta(grafo.get("vertices")[v1], grafo.get("vertices")[v2], color);
										ar.get("verticeInicio").get("aresta").push(ar);						

										grafo.get("arestas").push(ar);

										++a;

										break;					
									}					
								}
							}			
						}
					}				
					
					for(var a = 0; a < grafo.get("vertices").length; a++) {
						grafo.get("vertices")[a].draw();
					}	
					
					var select = [];                
					
					for(var a = 0; a < grafo.get("vertices").length; a++)
					{
						  if(grafo.get("vertices")[a].get("aresta").length > 0) 
						  {
								/*for(var b = 0; b < grafo.get("vertices")[a].get("aresta").length; b++)
								{
									if(grafo.get("vertices")[a].get("aresta")[b].get("verticeFim") == d)
								}*/
								
								select.push({vertice: grafo.get("vertices")[a].get("id"), arestas: grafo.get("vertices")[a].get("aresta").length});          							
						  }
					}
					
					
					
					
					/* Aqui os vértices que possuem ao menos 1 conexão já estão selecionados */
					select = _.sortBy(select, "arestas");
					//document.getElementById('relatorio').innerHTML += JSON.stringify(select);      				
					
					console.log("-----> RUN3: heurística.");				
						
					for(var counter = 0; counter < select.length; counter++)
					{	
						var percursos = [];
						var geral = [];
						
						var b = 0;
						var origem = getVertice(select[counter].vertice);				
						var destino = origem;
						
						var atual = origem;
						
						grafo.set('dist', 0);					
						
						var tries = 0;
					
						for(b; true; b++, tries++)
						{							
							if(b == 0) destino = origem;				
							
							var v1 = Math.floor((Math.random() * atual.get('aresta').length - 1) + 1);					
							
							/* Verificar finais de arestas do ATUAL e verificar se 
							estão na SELECT. Caso estiver, verificar no GERAL. */
							
							/* Aqui é verificado para cada aresta do VERTICE ATUAL se 
							   o mesmo possui conexão para algum dos vértices selecionados. */
							for(var a = 0; a < atual.get("aresta").length; a++)
							{
								var aresta = atual.get('aresta')[a];
								var its = false;
								
								for(var c = 0; c < select.length; c++)
								{
									if(select[c].vertice == aresta.get('verticeFim').id) {
										its = true;
										break;
									}							
								}	
			
								if(its) {
									if(!geral.contains(aresta.get('verticeFim').id)) {
										grafo.increment(aresta.get('length'));
										geral.push(aresta.get('verticeFim').id);
										percursos.push(aresta.get('verticeFim').id);
										atual = aresta.get('verticeFim');				
										tries = 0;
										break;
									}			
									
								}
							}
							
							//console.log(JSON.stringify(percursos));
							
							if(tries > 10) {
								if(percursos.length == 1)
								{
									console.log("Fim de procedimento (Origem: "+origem.get('id')+")."+" FALHOU. ");
									grafo.set('dist', 0);
									break;
								}
								else
								{
									tries = 0;
									grafo.set('dist', grafo.get('dist') - atual.get('length'));
									atual = getVertice(percursos.pop());								
								}
							}
							
							
							
							if(atual.get('id') == origem.get('id')) {
								if(grafo.get("dist") == 0)
								{
									console.log("Fim de procedimento (Origem: "+origem.get('id')+")."+" FALHOU. ");
									grafo.set('dist', 0);
									break;
								}
								
								console.log("Fim de procedimento (Origem: "+origem.get('id')+")."+" Percorreu "+grafo.get('dist')+"m.");
								dists.push(grafo.get('dist'));
								grafo.set('dist', 0);
								break;
								
							}
			
							++b;
						}				
					   
					}
				}
				
				dists.sort(function(a,b){return a-b}); // Ordenação customizada.
				console.log("MENOR DISTÂNCIA PERCORRIDA: "+dists[0]+"m.");
				
        },
        
        /* Método recursivo para permutação. */        
		permute: function(input)  {
			var i;
			var ch;

			for (i = 0; i < input.length; i++) {
				ch = input.splice(i, 1)[0]; 		
				this.get("usedChars").push(ch);				

				if (input.length == 0) {
			  		this.get("comb").push(this.get("usedChars").slice());
				}
				
				this.permute(input);
				input.splice(i, 0, ch);
				this.get("usedChars").pop();
			}			
		},	

		checkVerticeComb: function(v1, v2) // Verifica repetição de caminhos.
		{
			for(var a = 0; a < this.get("arestas").length; a++)
			{

				if(v1.get("id") != v2.get("id") && this.get("arestas")[a].get("verticeInicio").get("id") == v1.get("id") && this.get("arestas")[a].get("verticeFim").get("id") == v2.get("id"))
					return true;
			}

			return false;
		},		
		
	});
	
	var Vertice = Backbone.Model.extend({				

		initialize: function(pos, img) {		
			
			this.set("pos", pos);
			this.set("id", verticeId++);
			this.set("image", null);
			this.set("text", null);
		},

		draw: function() {
			if(afterLine)
			{
				var model = this;

				var imgPos = this.get("pos");
				imgPos.y -= 10.5;				

				this.set("image", new Raster({source: 'img/green-icon.png', position: view.center}));			
				this.get("image").position = this.get("pos");
				this.get("image").scale(0.7);		

				this.get("image").onMouseDown = function() {
					if(model.get("aresta").length > 0)
					{
						var vdata = "";

						for(var a = 0; a < model.get("aresta").length; a++)
						{
							var caresta = model.get("aresta")[a];

							vdata += "Vértice Origem: "+caresta.get("verticeInicio").get("id")+"\nVértice Destino: "+caresta.get("verticeFim").get("id")+"\n"+"Cor da Aresta: "+caresta.get("cor")+"\n"+"Length: "+caresta.get("length")+"m.";
							
							vdata += "\n\n";
						}

						alert(vdata);
					}

					else alert("Vértice fora de rota!");
				}

				this.get("image").onMouseEnter = function() {
					//text.visible = true;
				}	
		
				this.get("image").onMouseLeave = function() {
					//text.visible = false;
				}

				this.set("text", new PointText(new Point(this.get("pos").x + 5, this.get("pos").y - 30)));
				this.get("text").content = ""+this.get("id");
				this.get("text").visible = true;
				this.get("text").scaling = 0.95;
					
			}
		},		

		defaults: function() {
			return {
				pos: new Point(10, 10),	
				aresta: [],						
			}
		},
		
	});
			

	var Aresta = Backbone.Model.extend({ 		

		initialize: function(inicio, fim, cor) {
			this.set("verticeInicio", inicio);
			this.set("verticeFim", fim);
			this.set("cor", cor);	
			this.set("length", Math.floor(Math.random() * 50) + 1);			

			this.set("path", new Path());			
			this.get("path").strokeWidth = 4;
			this.get("path").strokeColor = this.get("cor");			
			this.get("path").add(this.get("verticeInicio").get("pos"));
			this.get("path").add(this.get("verticeFim").get("pos"));

			var model = this;

			this.get("path").onMouseEnter = function() {
				model.get("path").strokeColor = new Color(43, 237, 104);
				paper.project.view.update();
			}

			this.get("path").onMouseLeave = function() {
				model.get("path").strokeColor = model.get("cor");
				paper.project.view.update();
			}
		},

		paint: function(color) {
			this.set("cor", color);
			paper.project.view.update();			
		},			

		setColor: function(color) {
			this.get("path").strokeColor = color;
			this.set("cor", color);
			paper.project.view.update();
		},

		defaults: function(){
			return {
				verticeInicio: null,
				verticeFim: null,
				color: 'black',
				value: 1,
				path: null,							
			}
		}
	});	
	
	/* ------------------------------------------------ */	
	
	var grafo = new Grafo();

	var maxWidth = 1600;
	var maxHeight = 1500;

	/* ------------------------------------------------ */

	/* Distância entre dois pontos. */
	function dist(x1, y1, x2, y2)
	{
		return Math.floor(Math.sqrt( Math.pow(x2-x1, 2) + Math.pow(y2-y1, 2) ));
	}

	function getAresta(inicio, fim) {
		for(var a = 0; a < grafo.get("arestas").length; a++) {
			var ar = grafo.get("arestas")[a];
			
			if(ar.get("verticeInicio").get("id") == inicio && ar.get("verticeFim").get("id") == fim) return ar;
		}

		return null;
	}

	function getVertice(id) {
		for(var a = 0; a < grafo.get("vertices").length; a++) if(grafo.get("vertices")[a].get("id") == id) return grafo.get("vertices")[a];
	}

	function randomVerticeInicial()
	{
		var aresta = grafo.get("arestas")[Math.floor((Math.random() * grafo.get("vertices").length - 1)+ 1)];
		while(aresta == null) aresta = grafo.get("arestas")[Math.floor((Math.random() * grafo.get("vertices").length - 1)+ 1)];
		return aresta.get("verticeInicio");		
	}
	

	
	afterLine = !afterLine;

		
	//paper.project.view.update(); // Comando para atualizar o canvas.		
	var vertices = 7;
	var arestas = 28;
	grafo.run3();



</script>


<style>#myCanvas { background-image: url('img/html5.jpg'); background-size: cover;}</style>

<body style="padding-top: 50px; padding-left: 50px">	

	<div class="container-fluid">
		
		<span id="relatorio"></span>
		<hr>
		<canvas id="myCanvas" style="width: 4000px; min-height: 2000px; border-style: solid; border-width: 2px"></canvas>		
	</div>

</body>