<meta charset="utf-8">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<body ng-app="MyApp">
	<div ng-controller="AppController">
		<table class="table" ng-repeat="coluna in colunas">
			<th ng-repeat="index in coluna">{{index}}</th>			
			<tr ng-repeat="linha in lista">
				<td ng-repeat="index in linha">{{index}}</td>
			</tr>
		</table>
	</div>

</body>

<table style="visibility: hidden">
							<td><h5><b>Registro</b></h5></td>
							<td><h5><b>NB</b></h5></td>
							<td><h5><b>Titular</b></h5></td>
							<td><h5><b>Status</b></h5></td>
							<td><h5><b>Situação</b></h5></td>
							<td><h5><b>OL</b></h5></td>
						</tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>988034</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>100.204.685-5</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>CLEIDIANE DOS SANTOS ABREU</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MDM0" ><h5>05001020</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>988252</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>104.352.103-5</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>RAIMUNDA PEREIRA AGOSTINHO</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MjUy" ><h5>05001020</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>988290</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>104.934.060-1</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>MANOEL MANCINEUDO DE LIMA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkw" ><h5>05001160</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>988291</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>104.934.320-1</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>ANTONIO ALCANTARA ALVES</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4Mjkx" ><h5>05001160</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>988344</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>105.825.732-0</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>IZABEL BEZERRA DA SILVA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4MzQ0" ><h5>05001180</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>988626</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>111.343.201-0</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>OTAVIO BENTO SOBRINHO</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4NjI2" ><h5>05001140</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>988911</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>118.212.234-2</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>DANIEL MACIEL BARBOSA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTEx" ><h5>05001210</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>988967</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>119.774.636-3</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>JOSE TEIXEIRA DO NASCIMENTO</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg4OTY3" ><h5>05001040</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>989201</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>125.678.509-9</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>PAULO SERGIO DE OLIVEIRA PEREIRA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5MjAx" ><h5>05001130</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>989370</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>130.152.685-9</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>FRANCISCO THIAGO SOUSA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>SUSPENSO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Mzcw" ><h5>05001160</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>989401</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>130.800.059-3</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>MARIA DOLORES EVANGELISTA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NDAx" ><h5>05001030</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>989614</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>135.569.274-9</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>MARIA DAS GRACAS DE CASTRO GOMES</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NjE0" ><h5>05001030</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>989670</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>137.156.008-8</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>RAIMUNDA MATIAS DA SILVA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5Njcw" ><h5>05001030</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>989708</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>138.322.764-8</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>ANTONIO FERREIRA LIMA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTg5NzA4" ><h5>05001280</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>990037</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>518.078.164-3</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>SILVIA HELENA DE FREITAS LEITE</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDM3" ><h5>05001040</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>990095</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>520.206.704-2</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>FERNANDA PRISCILA ALVES DOS SANTOS</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMDk1" ><h5>05001010</h5></a></td>
										  </tr><tr bgcolor="#66ccff">
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>990251</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>532.729.029-4</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>FRANCISCO GABRIEL NUNES CLAUDINO</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjUx" ><h5>05001160</h5></a></td>
										  </tr><tr bgcolor="#FFFFFF">
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>990257</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>533.044.752-2</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>FRANCISCA HELENA DA SILVA</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>AGUARDA CONCLUSÃO DA COBRANÇA</h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>CESSADO </h5></a></td>
											<td><a href="con_nb.php?busca=OTkwMjU3" ><h5>05001030</h5></a></td>
										  </tr></table><br><br>		</center>


<script>	
	
	var app = angular.module("MyApp", []).controller("AppController", function($scope) {
		$scope.lista = [];
		$scope.colunas = [];
		$scope.cr = [];
		$scope.columns = 6;
		$scope.first = 6;

		for(var a = 0, b = 0; a < document.getElementsByTagName("h5").length; a++)
		{		
			if(a % $scope.first == 0) {

				{
					var aux = $scope.cr[0];
					$scope.cr[0] = $scope.cr[$scope.first-1];
					$scope.cr[$scope.first-1] = aux;

					$scope.lista.push($scope.cr);					

					$scope.cr = [];						
				}				
			}	

			$scope.cr.push(document.getElementsByTagName("h5")[a].textContent);			
		}

		$scope.lista.sort();
		$scope.colunas.push($scope.lista.pop());

		console.log($scope.lista);
	}) ;


</script>








