<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore.min.js"></script>
<script type="text/javascript" src="js/backbone.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/paper.js"></script>

<script type="text/template" id="search_view">
	<input type="text" placeholder="testando pesquisa">
	<hr>
	<p><%= music.get("title") %></p>
</script>

<div id="todo"></div>

<script type="text/javascript">

	var Music = Backbone.Model.extend({
		
		initialize: function() {
			console.log('hello');
		},
		
		defaults: {
			title: "Dancing on the rain",
			genre: "House",
			year: 2016,				
		},
	});

	var View = Backbone.View.extend({

		initialize: function() {
			this.render();
		},

		render: function() {			
			var variables = {digit: "30"};
			console.log("Rendering...");
			var template = _.template( $("#search_view").html(), {} );
			this.$el.html(template);
		}

	});

	var music = new Music();
	var view = new View( { el: $("#todo"), model: music, digit: 30 } );

</script>